.Side-Nav {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    -ms-flex-align: inherit;
    width: 10%;
    border-right: solid;
    box-shadow: 5px 3px;
    color: rgba(202, 32, 32, 0.70)
}

.Button {
    border-radius: 5px;
    border: soldi;
    border-width: 2px;
    border-color: black;
}