.Side-Nav {
    display: flex;
    margin-top: auto;
    padding: 1px;
    flex-direction: column;
    -ms-flex-align: inherit;
    width: 20%;
    padding: 10px;
    //border-right: solid;
    box-shadow: 1.75px 1px;
    border-radius: 2px;
    //color: rgba(199, 116, 116, 0.986);
}

.Button {
    border-radius: 3px;
    border: solid;
    width: 100%;
    height: auto;
    background-color: rgba(160, 55, 55, 0.767);
    color: rgba(228, 209, 192, 0.952);
    padding: 5px;
    margin: 5px;
}