.Side-Nav {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    -ms-flex-align: inherit;
    width: 10%;
    border-right: solid;
    box-shadow: 5px 3px;
    color: rgba(202, 32, 32, 0.70)
}

.Button {
    border-radius: 5px;
    border: solid;
    width: auto;
    height: auto;
    border-width: 2px;
    border-color: rgba(209, 117, 117, 0.7);
    color: rgba(204, 161, 147, 0.6)0.6)
}